<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Märchen</title>
    <meta name="description" content="Deutsche Märchen">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="/assets/js/vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/js/vendor/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="/assets/animation.css" />
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://unpkg.com/http-vue-loader"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="app">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <router-link class="navbar-brand" to="/">Märchen</router-link>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <router-link class="nav-link" to="/">Home</router-link>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Märchens
                        </a>
                        <div class="dropdown-menu animate fadeIn" aria-labelledby="navbarDropdownMenuLink">
                            <router-link class="dropdown-item" to="/marchen">Märchen</router-link>
                            <router-link v-for="marchen in marchenList" v-bind:key="marchen.id" v-bind:to="'/marchen/'+marchen.id" class="dropdown-item">{{ marchen.name }}
                            </router-link>
                        </div>
                    </li>
                    <li class="nav-item">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#emailModal">
                            Hinzufügen
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="emailModalLabel">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form name="contact" id="myForm" action="/#/danke" method="POST" data-netlify="true">
                                            <p>
                                                <label>deine Gruppe (Namen): <input type="text" name="name"
                                                        required /></label>
                                            </p>
                                            <p>
                                                <label>deine E-mail: <input type="email" name="email"
                                                        required /></label>
                                            </p>
                                            <p>
                                                <label>dein Märchen:
                                                    <select name="Märchen">
                                                        <option v-for="marchen in marchenList" v-bind:key="marchen.id"
                                                            v-bind:value="marchen.name">{{ marchen.name }}</option>
                                                    </select>
                                                </label>
                                            </p>
                                            <p>
                                                <label>Text: <textarea name="message" required></textarea></label>
                                            </p>
                                            <p>
                                                <label>Bestanden: <input type="file" name="files" multiple /> </label>
                                            </p>
                                            <p>
                                                <button type="submit">Send</button>
                                            </p>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </li>
                </ul>
            </div>
        </nav>
        <div class="row no-gutters">
            <div class="container">
                <div style="padding-top: 1rem;"></div>
                <router-view></router-view>
            </div>
        </div>
    </div>

    <!--<footer class="footer">
        <div class="container" style="padding-top: 0px;">
            <span class="text-muted"></span>
        </div>
    </footer>-->
    <footer class="foot">
    </footer>
    <script src="/assets/js/vendor/jquery.min.js"></script>
    <script src="/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/router.js"></script>
</body>

</html>